@import "tailwindcss";

*{
  @apply scroll-smooth;
}

body{ 
  cursor: none !important;
  color: white;
  background-color: #000000;
}

button:not([disabled]) { cursor: none; }


nav {
  margin: 10px; 
}

.animate-fade-in-out {
  animation: fade-in-out 2s forwards;
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  10% { opacity: 1; }
  70% { opacity: 1; }
  90% { opacity: 0; }
  100% { 
    opacity: 0; 
    display: none;
  }
}

@keyframes snap {
  10% { border-radius: 50px; }
  100% { border-radius: 10px; }
}
